#content p, h1, h2, h3, h4, h5, h6, pre  { 
    padding-left: 8px;
    padding-right: 8px;
}
#content {
	text-align: center;
}

#content p {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#content h1 { 
	font-size: 2.4em;
	padding-top: 1em;
	padding-bottom: 0.4em;
        line-height: 1.2em;
}
#content h2 { 
	font-size: 2em; 
	padding-top: 0.6em; 
	padding-bottom: 0.4em;
}
#content h3 { 
	font-size: 1.8em;
	padding-top: 0.4em; 
	padding-bottom: 0.2em;
}
#content h4 { 
	font-size: 1.5em;
	padding-top: 0.4em; 
	padding-bottom: 0.2em;
        text-decoration: underline;
}

#content h5 { 
	font-size: 1.1em;
	padding-top: 0.4em; 
	padding-bottom: 0.2em;
}


#content ul { 
	list-style-type: circle;
	list-style-image: none;
	list-style-position: outside;
	margin-left: 2em;
	margin-right: 2em;
}

#content ol {
        list-style-type: decimal;
	list-style-image: none;
	list-style-position: outside;
	margin-left: 3em;
	margin-right: 2em;
}

#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
        height: auto;
        width: auto;
        display: inline;
        max-width: 35em;
}

#content code {
    font-family: Georgia, Verdana, Arial, sans-serif; 
    font-weight: normal;
    color: darkblue;
}
	
#content pre {
    line-height: normal;
    padding-left: 16px;
    overflow: hidden; 
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#content pre:hover {
    width: 200%;
    position: relative;
    z-index: 1; 
    background-color: lightyellow;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
#content pre code {
    font-family: Courier, Verdana, Monaco;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-size: 0.8em;
}

#content a { 
    color: blue;
    text-decoration: underline; 
}
#content a:visited { 
    color: blue; 
}
#content a:hover {
    color: lightskyblue;
    text-decoration: underline; 
}
#content a:target { 
	color: blue; 
}

#content #title h1 {
	font-size: 2.5em;
	text-align: center;
	line-height: 1em;
}


#content blockquote {
	padding-left: 1em;
	padding-right: 4em;
	font-style: italic;
}

#content sup {
	font-size: 0.6em; 
	vertical-align: top;
}

#content sub {
	font-size: 0.6em; 
	vertical-align: bottom;
} 
