<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="<%=File.expand_path('~/conversio/resources/css/content.css')%>" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<%=File.expand_path('~/conversio/resources/css/pygments.css')%>" rel="stylesheet" type="text/css">


</head>

<body>
		<div id="content">
			<% if values[:meta_data].has_key?('title') then %>
			<div id="title">
				<h1><%= values[:meta_data]['title']%></h1>
			</div>
			<% end %>
			<%= content %>
		</div>
</body>
</html>
